---
layout: page
# The Home page layout
---
<style>
  .bio-card {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start */
    margin-bottom: 5px;
    padding: 20px;
    background-color: #1b1b1e; /* Updated background color */
    border-radius: 4px;
    margin-top: 20px;
    color: #fff; /* Updated text color to white */
  }
  
  .bio-image {
  flex: 0 0 auto;
  margin-right: 30px;
  margin-bottom: 1px;
  margin-top: 1px;
  display: flex;
  align-items: center;
}

.bio-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Added border-radius for rounded borders */
}
  
  .bio-content {
    flex: 1 1 auto;
  }
  
  .images-container {
  margin-top: 80px;
  text-align: center; /* Center the images horizontally */
}

.images-container img {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .bio-card {
      flex-direction: column;
      align-items: center;
    }
  
    .bio-image {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }

  .images-container img {
    margin-bottom: 40px; /* Adjust the gap between images in mobile */
  }

  </style>
  
  
  
{% include lang.html %}

<div class="bio-card">
  <div class="bio-image">
    <!-- Add your image here -->
    <img src="https://github.com/nico-audio/nico-audio.github.io/assets/110834120/6557b547-031f-4449-bcea-f3c941400e07"{: width="250" height="100" } alt="Bio Image">
  </div>

  <div class="bio-content">
    <!-- Add your mini bio here -->
    <br>
    <p>Hi, I'm <b>Nico (they/them)</b>, I'm an <b>audio designer for videogames</b> and computer
      musician, originally from Salvador, Brazil, currently based in <b>Lisbon, Portugal</b>. I hold a Bachelor of Arts degree in interdisciplinary studies.</p>
      <p>Before I started working in game development 
      I was an electronic music producer and worked in live performances with other musicians but I always loved the studio work,
      <b>processing sounds and experimenting with them</b>.</p>
      <p>My initial fascination with <b>"sculpting" sounds</b> with synthesizers developed into an interest in constructing 
      <b>interactive experiences</b> and <b>immersive worlds</b> through audio.
      As an audio artist with a background in interdisciplinary studies I found in games the perfect media to do so, which ultimately guided me into the world of <b>game audio</b>, where I could develop my sound design skills and also audio implementation skills in different environments. </p>
      You can find some of my <b>work featured</b> in titles such as <b>Grid Force - Mask of the Goddess</b> and <b>SGC - Short Games Collection</b>. I am currently working on sound libraries in my independent project
      <a href="https://spectrumlibraries.com/" target="_blank"> <b>Spectrum Libraries</b></a> (more coming soon!).
  </div>
</div>

<div class="images-container">
  <div class="images">
    <img src="https://user-images.githubusercontent.com/110834120/249758515-0e8bff35-585e-4cea-bca7-cf2bab05a613.png"{: width="200" height="300" } alt="Image 1">
    <img src="https://user-images.githubusercontent.com/110834120/249758629-050e3bf6-9e02-4db2-8eaa-44bd51baea5f.png"{: width="200" height="300" } alt="Image 2">
    <img src="https://user-images.githubusercontent.com/110834120/253316850-78f26a69-7519-49d7-8010-19f9096ba085.png"{: width="200" height="300" } alt="Image 3">
    <!-- Add more images as needed -->
  </div>
</div>
