---
layout: page
# The Home page layout
---
<style>
  .bio-card {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start */
    margin-bottom: 5px;
    padding: 20px;
    background-color: #1b1b1e; /* Updated background color */
    border-radius: 4px;
    margin-top: 20px;
    color: #fff; /* Updated text color to white */
  }
  
  .bio-image {
  flex: 0 0 auto;
  margin-right: 30px;
  margin-bottom: 1px;
  margin-top: 1px;
  display: flex;
  align-items: center;
}

.bio-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Added border-radius for rounded borders */
}
  
  .bio-content {
    flex: 1 1 auto;
  }
  
  .images-container {
  margin-top: 80px;
  text-align: center; /* Center the images horizontally */
}

.images-container img {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .bio-card {
      flex-direction: column;
      align-items: center;
    }
  
    .bio-image {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }

  .images-container img {
    margin-bottom: 40px; /* Adjust the gap between images in mobile */
  }

  </style>
  
  
  
{% include lang.html %}

<div class="bio-card">
  <div class="bio-image">
    <!-- Add your image here -->
    <img src="https://user-images.githubusercontent.com/110834120/249753430-c0724a87-6ab2-4f40-ab1b-bee9096e7a81.jpg"{: width="200" height="50" } alt="Bio Image">
  </div>

  <div class="bio-content">
    <!-- Add your mini bio here -->
    <br>
    <p>Hi, I'm Nico (they/them), I'm an audio designer for videogames and computer
      musician, originally from Salvador, Brazil, currently based in Lisbon, Portugal. I hold a Bachelor of Arts degree in interdisciplinary studies.</p>
      <p>Before I started working in game development 
      I was an electronic music producer and worked in live performances with other musicians but I always loved the studio work,
      processing sounds and experimenting with them.</p>
      <p>My initial fascination with "sculpting" sounds with synthesizers developed into an interest in constructing 
      interactive experiences and worlds through audio
      that was later combined with my passion for games, ultimately guiding me into the world of game audio. </p>
  </div>
</div>

<div class="images-container">
  <div class="images">
    <img src="https://user-images.githubusercontent.com/110834120/249758515-0e8bff35-585e-4cea-bca7-cf2bab05a613.png"{: width="200" height="300" } alt="Image 1">
    <img src="https://user-images.githubusercontent.com/110834120/249758629-050e3bf6-9e02-4db2-8eaa-44bd51baea5f.png"{: width="200" height="300" } alt="Image 2">
    <img src="https://user-images.githubusercontent.com/110834120/253316850-78f26a69-7519-49d7-8010-19f9096ba085.png"{: width="200" height="300" } alt="Image 3">
    <!-- Add more images as needed -->
  </div>
</div>
